each act in activities
	- if (!act.object) continue;
	- var objType = " objectType-" + (act.object.objectType ? act.object.objectType : 'none');
	- var actorType = " actorType-" + (act.actor.objectType ? act.actor.objectType : 'none');
	- var className = "verb-" + act.verb + objType+actorType;
	li(class=className)
		.row.activity
			.span1.actor
				- var actor = act.actor;
				include activity_stream_actor
			.span6.action
				.row.title
					.span5
						strong=act.actor.displayName
						&nbsp;
						=act.title
				.row.activity_object
					- var parent = act;
					- var object = act.object;
					include activity_object
				.row.details
					.span5
						- var timedItem = act;
						include activity_details
		include actions

		hr