.span5.timestamp
	.small
		span=(timedItem.userFriendlyDate ? timedItem.userFriendlyDate : timedItem.published)
		- if (timedItem.provider && timedItem.provider.icon) {
			span &nbsp;via&nbsp;
			a(href="#{timedItem.provider.url}", target="_blank")
				span=timedItem.provider.displayName
				img.service(src= timedItem.provider.icon.url)
		-}