- if (App.userLoggedIn)
	.row.actions
		.span1
			small
				a.btn.btn-mini.btn-warning.like-button(href="#")
					i.icon-ok.icon-white
					small &nbsp; Like
		.span6
			.row
				.span5.right
					textarea.span4.comment-area()
			.row
				.span2.offset3.right#comment-post
					small
						a.btn.btn-mini.btn-success.comment-button(href="#")
							i.icon-pencil.icon-white
							small &nbsp; Post
.row.action_results
	.span1
		-if (act.likes_count && act.likes_count > 0) {
			small#like_count
				#{act.likes_count}
			small.rest
				| &nbsp; liked this
		-} else {
			small No likes yet.
		-}
	-if (act.comments) {
		.span6
			ul.unstyled
				-for(var i=0; i < act.comments.length; i++) {
				- var comment = act.comments[i];
					li
						.row.comment
							.span1.actor
								- var actor = comment.actor;
									include activity_stream_actor
							.span5.action
								.row.title
									.span5
										strong=actor.displayName
										&nbsp;
										=comment.title
								.row.activity_object
									- var object = comment.object;
										include activity_object
								.row.details
									.span5
										- var timedItem = comment;
											include activity_details

				- }
- }