each act in activities
	- if (!act.object) continue;
	- var objType = " objectType-" + (act.object.objectType ? act.object.objectType : 'none');
	- var actorType = " actorType-" + (act.actor.objectType ? act.actor.objectType : 'none');
	- var className = "verb-" + act.verb + objType+actorType;
	li(class=className)
		.row.activity
			.span1.actor
				- var actor = act.actor;
				include activity_stream_actor
			.span6.action
				.row.title
					.span5
						strong=act.actor.displayName
						&nbsp;
						=act.title
				.row.activity_object
					- var object = act.object;
					include activity_object
				.row.details
					.span5
						- var timedItem = act;
						include activity_details
		.row.actions
			.span2
				small
					a.btn.btn-mini.btn-warning.like-button(href="#")
						i.icon-ok.icon-white
						small &nbsp; Like
			.span4
				.row
					textarea.span4.comment-area()
				.row
					.span2.offset2
						small
							a.btn.btn-mini.btn-success.comment-button(href="#")
								i.icon-pencil.icon-white
								small &nbsp; Post
		.row.action_results
			.span2
				-if (act.likes_count && act.likes_count > 0) {
					small#like_count
						#{act.likes_count}
					small.rest
						| &nbsp; liked this
				-}
			-if (act.comments) {
				.span4
					ul
						-for(var i=0; i < act.comments.length; i++) {
						- var comment = comments[i];
							li
								.row.comment
									.span1.actor
										- var actor = comment.actor;
										include activity_stream_actor
									.span6.action
										.row.title
											.span5
												strong=actor.displayName
												&nbsp;
												=comment.title
										.row.activity_object
											- var object = comment.object;
											include activity_object
										.row.details
											.span5
												- var timedItem = comment;
												include activity_details

						- }
		- }

