.span3.timestamp
	.small=(timedItem.userFriendlyDate ? timedItem.userFriendlyDate : timedItem.published)
- if (timedItem.provider && timedItem.provider.icon) {
	.span3.timestamp
		span Via&nbsp;
		a(href="#{timedItem.provider.url}", target="_blank")
			span=timedItem.provider.displayName
			img.service(src= timedItem.provider.icon.url)
-}