.row
	.span8.offset1
		.row
			.span8
				input.span8#input-title(type="text", placeholder="Title of Article")#title
		.row
			.span8
				textarea.span8(placeholder="Article Summary")#msg
		.row
			.span8
				input.span8(type="text", placeholder="Article's url ?")#url