ul.dropdown-menu
	li.facebook
		a(href="/auth/facebook")
			img(src="/facebook.ico", alt="Facebook")
			span Facebook
	li.twitter
		a(href="/auth/twitter")
			img(src="/twitter.ico", alt="Twitter")
			span Twitter
	li.github
		a(href="/auth/github")
			img(src="/github.ico", alt="GitHub")
			span Github