include nav_bar

.container
	include start-modal
	- var chosenVerb = locals.verbs[0];
	- var chosenObject = locals.objectTypes[0];
	- if(session.auth)
		include activity_create
	- else
		.hero-unit.second-hero
			h1 Welcome
			p Login or Sign Up to Share Activities !

	.row
		.span4#filters
			.well.second-hero
				include filters
		.span8#stream
			h3 Activity Stream
			.wello
				.nav-tabs-container
					-if (locals.streams) {
						ul.nav.nav-tabs
							each stream in locals.streams
								-if (stream.items && stream.items.length>0)
									li.active
										a(href="/streams/#{stream.name}")=stream.name
								-else
									li
										a(href="/streams/#{stream.name}")=stream.name
					-}
				ul.unstyled#main_stream
					- var activities = locals.streams[desiredStream].items
					-if (activities && activities.length) {
						include activity
					-}

