include nav_bar

.container
	include start-modal
	- var chosenVerb = locals.verbs[0];
	- var chosenObject = locals.objectTypes[0];
	- if(session.auth)
		include activity_create
	- else
		.hero-unit.second-hero
			.row
				.span5
					a(href="http://blog.cloudfoundry.com/tag/asms/", target="_blank")
						img.arch(src="/img/asms-blog.png")
				.span5
					h1 Welcome
					p This is a boilerplate Activity Streams App. Login or Sign Up to Share Activities !
					.btn-group
						a.btn.btn-primary.dropdown-toggle(href="#", "data-toggle"="dropdown") Get Started via
						include auth

	.row
		.span4#filters
			.well.second-hero
				- var included = locals.included
					include filters
		.span8#stream
			h3 Activity Stream
			.wello
				.nav-tabs-container
					-if (locals.streams) {
						ul.nav.nav-tabs
							each stream in locals.streams
								-if (stream.items && stream.items.length>0)
									li.active
										a(href="/streams/#{stream.name}")=stream.name
								-else
									li
										a(href="/streams/#{stream.name}")=stream.name
					-}
				ul.unstyled#main_stream
					- var activities = locals.streams[desiredStream].items
					-if (activities && activities.length) {
						include activity
					-}

