!!!
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    link(rel="stylesheet", href="/static/css/#{assetsCacheHashes.css||0}/style.css", type="text/css")
    title Activity Streams
  body!=body
  script(src="/static/js/#{assetsCacheHashes.js||0}/client.js", type="text/javascript")