.row
	.span8.offset2
		form#new_photo.span8(method="post", enctype="multipart/form-data", action="/photos")
			.span2
				.input-file
					input(type="file", name="image", accept="image/*", required="required")
			.span2
				input.btn.btn-info(type="submit", value="Upload File")
.row
	.span8.offset1
		.row
			.span8
				input.span8#input-title(type="text", placeholder="Describe the photo")#title
		.row
			.span8
				input.span8(type="text", placeholder="Url of photo on another site ?")#url
		.row
			.span6
				label.checkbox
					input#includeLocation(type="checkbox")
					span Include Location ?
		#map.hide
