.modal.hide.fade.main-hero#start-modal(role="dialog", aria-labelledby="Welcome Screen", aria-hidden="true")
	.modal-header
		button(type="button", class="close",data-dismiss="modal",aria-hidden="true") &times;
		h2
			a(href="#") Node.js Activities Boilerplate App
		span Publish activities to the stream of your choice.&nbsp;
		span Consume streams in Real-time.

	.modal-body
		h4 To Use
		p Start by describing new activities and content others may find interesting or you want to remember.
		hr
		h4 Note: &nbsp;
		ul
			li
				span To change the actor you can&nbsp;
					a(href="#") Login&nbsp;
					span into different accounts via&nbsp;
					a(href="#") OAuth
			li This app can also be used programmatically via the API &nbsp;
	.modal-footer
		button.btn(data-dismiss="modal", aria-hidden="true") OK