
#connected {
	background: #ff2eae;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
#connected.on {
	background: #3daeb9;
}

.timestamp {
	font-size: 7pt;
	font-style: italic;
}

.activity .avatar {
	width: 48px;
	float: left;
	display: inline;
	margin-right: 10px;
}

.activity_object .avatar {
	width: 48px;
	float: left;
	display: inline;
	margin-right: 10px;
}

.activity {
	margin-bottom: 15px;
}

.prepend-fix {
	margin-bottom: 0px;
}

.create_mod {
	height: 265px;
}

#stream{

}


#new_activity .avatar{
	width: 60px;
	float: left;
	display: inline;
	margin-right: 10px;
}



